<!DOCTYPE html>

<html>
    <head>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="./css/styles.css">
        
    </head>

    <body>
        <h1>{{title}}</h1>
        {{>header}}
        {{>footer}}
        <p>Type a place to get the daily forecast</p>
        <form>
            <input placeholder= "Location" style="top:80%; left:5%; width:40%;" type="text" id="userInput">
            <input style="top:80%; left:5%; width:40%;" type="button" value="CHECK" id="submit" onclick="getWeather()">
        </form>
        
        <div id='weather'></div>
        
        <script src="./js/app.js"></script>
    </body>
</html>